# Bytecode & Cache
__pycache__/
*.py[cod]
*$py.class

# Database & Secrets
db.sqlite3
.env
*.env

# Virtual Environments
.venv/
venv/
env/

# Git & Version Control
.git
.gitignore

# OS & Editor Files
.DS_Store
.vscode/
.idea/
Thumbs.db

# Logs & Temp
*.log
tmp/
temp/
